<form>
  <div class="spire-roll-popup">
    <!-- Resistance -->
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Resistance"}}</div>
      <div
        class="spire-roll-options spire-roll-options-row spire-roll-options-blue"
      >
        {{#each system.resistances as |resistance key|}} {{#unless
        resistance.armor}}
        <input
          type="radio"
          id="fallout-roll-{{key}}"
          name="fallout-roll-resistance"
          value="{{key}}"
        />
        <label for="fallout-roll-{{key}}">{{localize resistance.label}}</label>
        {{/unless}} {{/each}}
      </div>
    </div>
  </div>
</form>
