<div class="dice-roll">
    <div class="dice-result">
      <h4 class="dice-total">
        {{localize "SPIRE.Refresh"}} - {{localize resistance_label}}
      </h4>
      <div class="spire-vertical-gap"></div>
      <h4 class="dice-total">{{roll_total}}</h4>
    </div>
  </div>
  