<form autocomplete="off">
  <div class="form-group">
    <label>{{localize "SPIRE.Knack"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="name"
        value="{{item.name}}"
        data-dtype="String"
      />
    </div>
  </div>
</form>
