<form autocomplete="off">
  <div class="form-group">
    <label>{{localize "SPIRE.Equipment"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="name"
        value="{{item.name}}"
        data-dtype="String"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SPIRE.Tag"}} 1</label>
    <div class="form-fields">
      <input
        type="text"
        name="system.tag1"
        value="{{system.tag1}}"
        data-dtype="String"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SPIRE.Tag"}} 2</label>
    <div class="form-fields">
      <input
        type="text"
        name="system.tag2"
        value="{{system.tag2}}"
        data-dtype="String"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SPIRE.Tag"}} 3</label>
    <div class="form-fields">
      <input
        type="text"
        name="system.tag3"
        value="{{system.tag3}}"
        data-dtype="String"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SPIRE.Tag"}} 4</label>
    <div class="form-fields">
      <input
        type="text"
        name="system.tag4"
        value="{{system.tag4}}"
        data-dtype="String"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SPIRE.Tag"}} 5</label>
    <div class="form-fields">
      <input
        type="text"
        name="system.tag5"
        value="{{system.tag5}}"
        data-dtype="String"
      />
    </div>
  </div>
</form>
