<form autocomplete="off">
  <div class="form-group">
    <label>{{localize "SPIRE.Ability"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="name"
        value="{{item.name}}"
        data-dtype="String"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SPIRE.Use"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="system.use"
        value="{{system.use}}"
        data-dtype="String"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SPIRE.Description"}}</label>
    <textarea name="system.description">{{{system.description}}}</textarea>
  </div>
</form>
